.flagContainer{
  border-width: 2px;
  border-style: solid;
  width: 500px;
  margin-bottom: 25px;
}

#indonesia {
  /* display: inline-block; */
  height: 210px;
  background-color: white;

}
#indonesia1{
  background-color: red;
  height: 105px;
  width: 100%;
}
#columbia{
  position: relative;
  height: 250px;
  background-color: gold;
}
#columbia1{
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: darkblue;
  top: 150px;
}
#columbia2{
 position: absolute;
  height: 50px;
  width: 100%;
  background-color: red;
  top: 200px;

}
#ireland{
  position: relative;
  height: 210px;
  background-color: white;
  display: flex;
}
#ireland1{
  position: absolute;
  height: 210px;
  background-color: green;
  width: 165px;
}
#ireland2{
  position: absolute;
  height: 210px;
  background-color: orange;
  width: 165px;
  right: 0px;
}

/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
